doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= pageTitle
    //
       Bootstrap 
    //
       Latest compiled and minified CSS 
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    //
       Optional theme 
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    //
       HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    //
       WARNING: Respond.js doesn't work if you view the page via file:// 
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    h3= pageTitle


    table.table.table-striped.table-condensed
      thead
        td rank
        td name
        td games
        td points
        td goals
      tbody
        for player in players
          tr
            td= player.rank
            td= player.name
            td= player.games
            td= player.points
            td= player.goals


    table.table.table-striped.table-condensed
      thead
        th
          td
            center Carter
          td
            center Daniel
          td
            center Sabin
      tbody
        tr
          td Carter
          td
            center
              span.glyphicon.glyphicon-remove
          td
            center
              .btn-group.btn-group-xs
                button.btn.btn-default.btn-success(type='button')
                  span.glyphicon.glyphicon-thumbs-up
                  | 0
                button.btn.btn-default.btn-danger(type='button')
                  span.glyphicon.glyphicon-thumbs-down
                  | 1
          td
            center
              .btn-group.btn-group-xs
                button.btn.btn-default.btn-success(type='button')
                  span.glyphicon.glyphicon-thumbs-up
                  | 1
                button.btn.btn-default.btn-danger(type='button')
                  span.glyphicon.glyphicon-thumbs-down
                  | 0
        tr
          td Daniel
          td
            center
              .btn-group.btn-group-xs
                button.btn.btn-default.btn-success(type='button')
                  span.glyphicon.glyphicon-thumbs-up
                  | 1
                button.btn.btn-default.btn-danger(type='button')
                  span.glyphicon.glyphicon-thumbs-down
                  | 0
          td
            center
              span.glyphicon.glyphicon-remove
          td
            center
              .btn-group.btn-group-xs
                button.btn.btn-default.btn-success(type='button')
                  span.glyphicon.glyphicon-thumbs-up
                  | 2
                button.btn.btn-default.btn-danger(type='button')
                  span.glyphicon.glyphicon-thumbs-down
                  | 0
        tr
          td Sabin
          td
            center
              .btn-group.btn-group-xs
                button.btn.btn-default.btn-success(type='button')
                  span.glyphicon.glyphicon-thumbs-up
                  | 0
                button.btn.btn-default.btn-danger(type='button')
                  span.glyphicon.glyphicon-thumbs-down
                  | 1
          td
            center
              .btn-group.btn-group-xs
                button.btn.btn-default.btn-success(type='button')
                  span.glyphicon.glyphicon-thumbs-up
                  | 0
                button.btn.btn-default.btn-danger(type='button')
                  span.glyphicon.glyphicon-thumbs-down
                  | 2
          td
            center
              span.glyphicon.glyphicon-remove
      //
         jQuery (necessary for Bootstrap's JavaScript plugins) 
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      //
         Latest compiled and minified JavaScript 
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
